@media (max-width: 768px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            padding-right: 25px;
        }
    }
    .advantages {
        &__wrapper {
            padding: 0 20px;
        }
        &__item {
            max-width: 255px;
        }
        &__descr {
            padding: 0 5px;
        }
    }
    .title {
        &_left {
            font-size: 33px;
            line-height: 50px;
            padding-left: 20px;
        }
    }
    .consultation {
        &__descr {
            font-size: 19px;
            padding-left: 20px;
        }
    }
    .feed-form {
        padding-left: 20px;
    }
    .carousel {
        &__inner {
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 220px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 145px;
        &_main {
            margin-top: 55px;
            width: 250px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
        }
    }
    .promo {
        padding-bottom: 70px;
        min-height: 620px;
        background-position: 35%;
        &__wrapper {
            padding-right: 0;
            align-items: center;
        }
        &__header {
            font-size: 40px;
            text-align: center;
        }
        &__subheader {
            font-size: 21px;
            text-align: center;
        }
        &__icons {
            width: 370px;
            margin-top: 50px;
        }
        &__icon {
            font-size: 13px;
        }
    }
    .title {
        font-size: 24px;
        &_left {
            font-size: 23px;
            line-height: 38px;
        }
    }
    .advantages {
        padding: 55px 0 65px 0;
        &__wrapper {
            margin-top: 45px;
            padding: 0 0;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 10px;
        }
        &__subtitle {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 16px;
        }
    }
    .consultation {
        min-height: 670px;
        padding: 70px 0 80px 0;
        &__descr {
            font-size: 18px;
        }
    }
    .feed-form {
        width: 280px;
    }
} 
.catalog {
    padding-bottom: 70px;
    &__tabs {
        margin-top: 35px;
    }
    &__tab {
        width: 26%;
        height: 47px;
        font-size: 10px;
        line-height: 46px;
    }
    &__content {
        margin-top: 50px;
    }
    &-item {
        margin-bottom: 13px;
    }
}